@model IEnumerable<LibraryCS.Models.LibraryViewModels.OrderDateGroup>

@{
    ViewData["Title"] = "Reader and Order Statistics";
}

    <h2>Reader and Order Statistics</h2>

<table>
    <tr>
        <th>
            Order Book Date
        </th>
        <th>
            OrderCount
        </th>
        <th>
            ReaderCount
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.OrderBookDate)
    </td>
    <td>
        @item.OrderCount
    </td>
    <td>
        @item.ReaderCount
    </td>
</tr>
    }
</table>